/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  --zwart: #111;
  --wit: #ffffff;
  --licht-wit: #FAFAFA;
  --donker-zwart: #333;
  --donker-groen: #368714;
  --licht-groen: #3cb046;
  --licht-grijs: #ddd;
  --zacht-wit: #e2e0ce;
  --bijna-wit: #f6f5f2;
  --warm-wit: #f5f3eb;
  --middel-grijs: #78786f;
  --licht-middel-grijs: #9d9d95;
  --zand-wit: #eae7d9;

}


@media (prefers-color-scheme: dark) {
  :root {
    --zwart: #E0E0E0;
    --wit: #FFFFFF;
    --licht-wit: #1C1C1C;
    --donker-zwart: #B0B0B0;
    --donker-groen: #6FBD53;
    --licht-groen: #89D982;
    --licht-grijs: #444;
    --zacht-wit: #2A2A2A;
    --bijna-wit: #f6f5f2;
    --warm-wit: #252525;
    --middel-grijs: #B3B3B3;
    --licht-middel-grijs: #CCCCCC;
    --zand-wit: #3A3A3A;



  }
}



/* Voeg je standaard lichte thema-kleuren hier toe als nodig */



/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

/* op basis van https://www.youtube.com/watch?v=XM7sEpl0f7c */

/* BRONNEN:
https://www.youtube.com/watch?v=flItyHiDm7E&t=18s
*/


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'CircularXXWeb-Book';
  src: url('../fonts/CircularXXWeb-Book.woff2') format('woff2');
}

@font-face {
  font-family: 'Fontello';
  src: url('../fonts/fontello.woff2') format('woff2');
}

@font-face {
  font-family: 'CustomFont1';
  src: url('../fonts/iJWKBXyIfDnIV7nBrXyw023e (1).woff2') format('woff2');
}

@font-face {
  font-family: 'CustomFont2';
  src: url('../fonts/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2') format('woff2');
}

@font-face {
  font-family: 'CustomFont3';
  src: url('../fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2') format('woff2');
}

@font-face {
  font-family: 'WWFWebFont';
  src: url('../fonts/wwf-webfont.woff') format('woff');
}

@font-face {
  font-family: 'CustomFont4';
  src: url('../fonts/WwkfxPmzE06v_ZW1XnrBGoIAUA.woff2') format('woff2');
}


header {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
}

main {
  background-color: var(--licht-wit);
}

li {
  list-style: none;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

body {
  font-family: 'CircularXXWeb-Book', Arial, sans-serif;

}


/****************/
/* Hamburger menu */
/****************/
.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;

}

.navbar p {
  color: var(--zwart);
}

.nav-menu {
  display: flex;
  align-items: flex-start;
  padding-left: 20px;
  gap: 60px;
  z-index: 100;
}

.nav-branding {
  font-size: 2rem;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: dodgerblue;
}

.hamburger {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 0.5em);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  cursor: pointer;
}

#div1 {
  grid-area: 2 / 1 / 3 / 2;
}

#div2 {
  grid-area: 1 / 2 / 2 / 3;
}

#div3 {
  grid-area: 2 / 2 / 3 / 3;
}

#div4 {
  grid-area: 3 / 2 / 4 / 3;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--zwart);
}

.nav-branding {
  margin: 0;
  padding: 0;
}

.nav-logo {
  max-height: 95px;
  width: auto;
  display: block;
}

.navbar {
  padding: 0;
}


@media (max-width: 768px) {

  /* Hamburger effect */
  .hamburger.active .bar:nth-child(3) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(2) {
    transform: translate(0, 8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(4) {
    transform: translate(0, -8px) rotate(-45deg);
  }

  /* Het hoofdmenu dat van links schuift */
  .nav-menu {
    position: absolute;
    left: -100%;
    top: 90px;
    gap: 0;
    flex-direction: column;
    background-color: var(--wit);
    width: 100%;
    height: 100%;
    text-align: left;
    transition: 0.3s;
  }

  /* Actief menu van links schuiven */
  .nav-menu.active {
    left: 0;
  }

  /* Tweede menu, dat van rechts schuift */
  .nav-item:nth-of-type(1) ul {
    position: absolute;
    right: -100%;
    /* Begin buiten het scherm aan de rechterkant */
    top: 0px;
    gap: 0;
    flex-direction: column;
    background-color: var(--wit);
    width: 100%;
    height: 100%;
    text-align: left;
    padding-left: 20px;
    transition: 0.3s ease-in-out;
  }

  /* Het tweede menu schuift van rechts naar binnen */
  .nav-item:nth-of-type(1) ul.active {
    right: 0;
  }


  .nav-item {
    padding: 16px 0;
  }
}


.nav-item:nth-of-type(1) ul {
  position: absolute;
  left: -100%;
}

.nav-item:nth-of-type(1) ul.active {
  left: 0;
}

.nav-menu.active {
  left: 0;
}







/****************/
/* vorige knop */
/****************/
.back-button {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-backbutton);
  font-size: 16px;
  font-weight: 500;
  padding: 10px 15px;
}

/****************/
/* Slide show */
/****************/
.caroCarrousel {
  --caroCarrouselMainColor: #333;
  --caroCarrouselAccentColor: #1b75b3;
  --caroCarrouselShadeColor: #ddd9;

  position: relative;
  overflow: hidden;
  outline: none;



  max-width: 98%;
  margin: 15px auto;
  margin-bottom: 10px;
  border: 2px;
  padding: 10px;

}

/* dark mode */
/*@media (prefers-color-scheme: dark) {
  .caroCarrousel {
    --caroCarrouselMainColor: #ccc;
    --caroCarrouselShadeColor: #4449;
  }
}


/************************************/
/* de carrousel elementen container */
.caroCarrousel>ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  overflow: hidden;
  scroll-snap-type: inline mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.caroCarrousel>ul::-webkit-scrollbar {
  display: none;
}


/**************************/
/* de carrousel elementen */
.caroCarrousel>ul li {
  flex-basis: 100%;
  flex-shrink: 0;
  scroll-snap-align: center;
}

/**********************************/
/* de carrousel elementen content */
.caroCarrousel>ul li>img {
  display: block;
  width: 100%;
}


/****************/
/* DE BOLLETJES */
.caroCarrousel nav ul {
  left: 50%;
  bottom: -2px;
  margin: 0;
  padding: 10px;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 0.5em;
  z-index: 10;
}

.caroCarrousel>nav li {
  flex-basis: 0.7em;
  aspect-ratio: 1/1;
}

.caroCarrousel>nav a {
  display: block;
  width: 0.7em;
  height: 0.7em;
  text-decoration: none;
  color: var(--wit);
  background-color: var(--bijna-wit);
  border-radius: 50%;
  outline: none;
  transition: background-color 0.3s, transform 0.3s;
}

.caroCarrousel>nav a:hover,
.caroCarrousel>nav a:focus {
  background-color: #368714;
  transform: scale(1.2);
}

.caroCarrousel>nav a.current {
  background-color: var(--donker-groen);
}

/****************************/
/* PREV EN NEXT LINKBUTTONS */
.caroCarrousel>a {
  position: absolute;
  width: 2.8em;
  height: 2.8em;
  top: 50%;
  transform: translateY(-50%);
  color: var(--donker-groen);
  background-color: var(--wit);
  outline: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
  display: grid;
  place-items: center;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.caroCarrousel>a.previous {
  left: 1em;
}

.caroCarrousel>a.next {
  right: 1em;
}

.caroCarrousel:hover>a.previous,
.caroCarrousel:focus-within>a.previous {
  left: 0.5em;
}

.caroCarrousel:hover>a.next,
.caroCarrousel:focus-within>a.next {
  right: 0.5em;
}




/**************/
/* Dropdowns */
/*************/
.dropdown-container {
  border-bottom: 1px solid var(--licht-grijs);
  width: 98%;
  margin: 0 auto;
  overflow: hidden;
  padding-right: 7.5px;
  padding-left: 7.5px;
}

.dropdown-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px;
  padding-left: 0px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  color: var(--color-backbutton);
}

.dropdown-arrow {
  width: 12px;
  height: 12px;
  border: solid var(--color-backbutton);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.dropdown-toggle.active .dropdown-arrow {
  transform: rotate(-135deg);
}

.dropdown-content {
  display: none;
  font-size: 14px;
  font-family: 'Rubic', sans-serif;
  line-height: 21px;
  color: #555;
  border-top: 1px solid var(--licht-grijs);
}

.dropdown-content img {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-width: 100%;
  display: block;
  margin-top: 15px;
}

.dropdown-content p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}


.dropdown-content.show {
  display: block;
}


/**********************/
/* Product info block */
/**********************/
.product-section {
  background-color: var(--licht-wit);
  border-radius: 10px;
  padding: 20px;
  max-width: 95%;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.product-title {
  font-family: 'WWFWebFont', serif;
  font-size: 24px;
  letter-spacing: 1.17px;
  color: var(--color-backbutton);
  margin-bottom: 0;
  text-align: left;
  line-height: 1.2;
}

.product-price {
  font-size: 16px;
  font-family: 'Rubic', sans-serif;
  color: var(--licht-groen);
  font-weight: 700;
  margin: 0;
  text-align: right;
  line-height: 1.2;
}

li[aria-label="dropdown"] {
  list-style-type: none;
  padding: 0;
}

.custom-select {
  position: relative;
  width: 100%;
  margin: 10px 0;
}

.custom-select select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 100%;
  padding: 10px 16px;
  border: 1px solid var(--licht-grijs);
  border-radius: 50px;
  background-color: var(--wit);
  font-size: 16px;
  color: var(--donker-zwart);
  cursor: pointer;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.custom-select::after {
  content: '';
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 6px solid var(--donker-zwart);
  pointer-events: none;
}

.add-to-cart {
  display: inline-block;
  width: 100%;
  padding: 12px 20px;
  background: linear-gradient(135deg, #9bc469, #769c4e);
  color: var(--wit);
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.add-to-cart:hover {
  background: linear-gradient(135deg, #769c4e, #9bc469);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-wrapper canvas {
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1000;

}


/****************************/
/* Call to action block */
/****************************/
.call-to-action {
  background-color: var(--bijna-wit);
  padding: 22px;
  max-width: 95%;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

.cta-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.cta-content img {
  max-height: 40px;
  margin-right: 15px;
}

.cta-content p {
  margin: 0;
  font-size: 14px;
  font-family: 'Rubic', sans-serif;
  line-height: 22px;
  padding-left: 22px;

}


/**********************/
/* Product info block 2 */
/**********************/

.product-info2 {
  font-size: 14px;
  font-family: 'Rubic', sans-serif;
  color: var(--donker-zwart);
  line-height: 1.6;
  border-radius: 10px;
  padding: 20px;
  max-width: 95%;
  margin: 20px auto;
}

.product-info2 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-info2 li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.product-info2 .checkmark {
  color: var(--licht-groen);
  font-weight: bold;
  margin-right: 10px;
}


/****************/
/* share buttons */
/****************/
.social-share {
  display: flex;
  gap: 15px;
  padding-left: 20px;
}

.social-share .icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--zand-wit);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border: none;
  outline: none;
}

.social-share .icon img {
  width: 90%;
  height: 90%;
  object-fit: contain;
  border-radius: 50%;
}

.copy-toast {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: var(--licht-groen);
  color: var(--wit);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transform: translateY(-20px);
  z-index: 1000;
}

.copy-toast.show {
  opacity: 1;
  transform: translateY(0);
}


/**********************/
/* voordeel pak container */
/**********************/
.voordeel-container {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  max-width: 95%;
}

.voordeel-container img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.voordeel-container h2 {
  color: var(--donker-zwart);
  margin: 10px 0;
  font-size: 40px;
  line-height: 49px;
  font-weight: 300;
  font-family: 'Rubic', sans-serif;

}

.voordeel-container p {
  font-size: 1rem;
  font-family: 'Rubic', sans-serif;

  color: var(--donker-zwart);
  margin-bottom: 20px;
}

.voordeel-container a {
  display: inline-block;
  text-decoration: underline;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 1rem;
  color: var(--licht-groen);
}

.voordeel-container a:link {
  color: var(--donker-groen);
}

.voordeel-container a:visited {
  color: var(--licht-groen);
}

.voordeel-container a:hover {
  color: var(--licht-groen);
}


/**********************/
/* HealthySeas */
/**********************/
.HealthySeas {
  text-align: left;
  padding: 20px;
  border-radius: 8px;
  max-width: 100%;
}

.HealthySeas img {
  width: 100%;
  border-radius: 8px;
}

.HealthySeas h2 {
  font-size: 1.5rem;
  color: var(--donker-zwart);
  margin: 10px 0;
}

.HealthySeas p {
  font-size: 1rem;
  color: var(--donker-zwart);
  margin-bottom: 20px;
}

.HealthySeas a {
  display: inline-block;
  text-decoration: underline;
  border-radius: 4px;
  font-size: 1rem;
  color: var(--donker-groen);
}

.HealthySeas a:link {
  color: var(--donker-groen);
}

.HealthySeas a:visited {
  color: var(--licht-groen);
}

.HealthySeas a:hover {
  color: var(--licht-groen);
}




/**********************/
/* Rode lijst */
/**********************/
.RodeLijst {
  text-align: center;
  background: var(--bijna-wit);
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 8px;
  max-width: 100%;
}

.RodeLijst img {
  width: 47px;
  border-radius: 8px;
}

/* Hover-effect voor de animatie */
.RodeLijst img:hover {
  animation: spin 4s linear 1 forwards;
  /* Start animatie bij hover en laat hem afspelen */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.RodeLijst h2 {
  font-size: 30px;
  color: var(--donker-zwart);
  margin: 10px 0;
}

.RodeLijst p {
  font-size: 15px;
  color: var(--donker-zwart);
  margin-bottom: 20px;
}

/**********************/
/* footer */
/**********************/

footer {
  text-align: center;
  background: var(--bijna-wit);
  padding: 20px;
  max-width: 100%;
}

footer p {
  font-size: 12px;
}


/* deelknoppen */
.social-footer {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;

}

.social-footer .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--zacht-wit);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  outline: none;
}


.social-footer .icon img {
  width: 90%;
  height: 90%;
  object-fit: contain;
  border-radius: 50%;
}


/* over ons */
.over-ons-footer {
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 8px;
  max-width: 100%;
}

.over-ons-footer h2 {
  font-size: 12px;
  color: var(--donker-zwart);
  margin: 10px 0;
}

.over-ons-footer p {
  font-size: 13px;
  color: var(--zwart);
  margin-bottom: 20px;
}


/* betalen */
.betalen {
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 100%;
  border-bottom: 1px solid var(--licht-grijs);
  width: 95%;
  padding: 10px;
  margin: 0 auto;
  overflow: hidden;
}

.betalen h2 {
  font-size: 12px;
  color: var(--donker-zwart);
  margin: 10px 0;
}

.betalen p {
  font-size: 13px;
  color: var(--zwart);
  margin-bottom: 20px;
}

.betalen img:nth-of-type(1) {
  width: 40px;
  margin-right: 20px;
}

.betalen img:nth-of-type(2) {
  width: 55px;
}

/* sponsoren */
.sponsoren {
  text-align: left;
  padding: 15px 10px;
  padding-bottom: 0px;
  max-width: 100%;
  border-bottom: 1px solid var(--licht-grijs);
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.sponsoren-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.sponsoren-images img {
  width: 60px;
  height: 50px;
}

.sponsoren p {
  text-align: right;
  font-size: 13px;
  color: var(--zwart);
  margin-bottom: 5px;
}

.sponsoren a {
  display: block;
  text-align: right;
  font-size: 13px;
  color: var(--zwart);
  margin-bottom: 20px;
  text-decoration: none;
}




.footerLogo {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px;
  border-radius: 8px;
  max-width: 100%;
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
}

.footerLogo img {
  width: 50px;
  height: 80.2px;
  margin-right: 15px;
}

.footerLogo h2 {
  margin: 0;
  margin-left: auto;
  text-align: right;
  font-size: 20px;
  color: var(--zwart);
  line-height: 1;
}



/***************************/
/***************************/
/******** pagina 2  ********/
/***************************/
/***************************/

/**********************/
/* header */
/**********************/

.Head-p2 {
  text-align: left;
  padding: 20px;
  max-width: 100%;
}

.Head-p2 h1 {
  font-size: 1.5rem;
  color: var(--zwart);
  margin: 10px 0;
}

.Head-p2 p {
  color: var(--zwart);
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .55px;
  font-weight: 300;
}

iframe {
  padding: 0px 20px 20px 20px;
  border: none;
}

/****************/
/* share buttons */
/****************/
.social-share2 {
  display: flex;
  gap: 15px;
  position: absolute;
  padding-right: 20px;
  right: 0;
}

.social-share2 .icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--zand-wit);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border: none;
  outline: none;
}


.social-share2 .icon img {
  width: 90%;
  height: 90%;
  object-fit: contain;
  border-radius: 50%;
}




/****************/
/* be one with nature */
/****************/
.BeOneWithNature {
  text-align: left;
  padding: 20px;
  max-width: 100%;
  margin-top: 2em;
}

.BeOneWithNature h2 {
  font-size: 1.5rem;
  color: var(--zwart);
  margin: 10px 0;
}

.BeOneWithNature p {
  color: var(--zwart);
  margin-bottom: 1rem;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .55px;
  font-weight: 300;
}


/**********************/
/* wat doet wwf */
/**********************/
.WatDoenZe h2 {
  text-align: center;
}

.WatDoenZe {
  max-width: 95%;
  margin: 20px auto;
}

.WatDoenZe h2 {
  text-align: center;
}

.WatDoenZe a {
  display: block;
  width: 100%;
  max-width: 600px;
  height: auto;
  aspect-ratio: 690 / 310;
  margin: 0;
  position: relative;
  text-decoration: none;
  background-size: cover;
  background-position: center;
  font-size: 20px;
  color: var(--bijna-wit);
  display: flex;
  align-items: flex-end;
  padding-left: 10px;
  padding-bottom: 40px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.3);
}

.WatDoenZe .footer-text {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 8px;
  color: var(--bijna-wit);
}

.WatDoenZe div {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.themas {
  background-image: url("../images2/rufiji-delta.png");
}

.gebieden {
  background-image: url("../images2/giraffe.png");
}

.werkwijze {
  background-image: url("../images2/duiker-net.png");
}


/*****************************/
/* wildlife expert contairen */
/*****************************/
.expert {
  text-align: center;
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-radius: 8px;
  max-width: 100%;
  background-color: var(--bijna-wit);
}

.expert img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.expert h2 {
  font-size: 36px;
  line-height: 42px;
  color: var(--zwart);
  margin-bottom: 35px;

}

.quote-name {
  font-size: 15px;
  line-height: 18px;
  color: var(--donker-zwart);
  margin-bottom: 6px;
}

.quote-function {
  font-size: 11px;
  line-height: 13px;
  color: var(--licht-middel-grijs);
  text-transform: uppercase;
  letter-spacing: 1.22px;
  margin-bottom: 29px;
}

.blogs {
  display: inline-block;
  border: 1px solid var(--zacht-wit);
  color: var(--middel-grijs);
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  letter-spacing: .12em;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  border-radius: 29px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.blogs:hover {
  background: var(--wit);

}

/******************/
/* meer over wwf */
/*****************/
.MeerInfo h2 {
  text-align: center;
  color: var(--zwart);
}

.MeerInfo a {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 285px;
  margin: 0;
  position: relative;
  text-decoration: none;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 10px;
  padding-bottom: 40px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.3);
}

.MeerInfo a .link-text {
  font-size: 30px;
  line-height: 36px;
  height: 108px;
  font-weight: 400;
  color: var(--wit);
}

.MeerInfo .footer-text {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: rgba(255, 255, 255, 0.4);
  display: block;
  font-size: 11px;
  line-height: 14px;
  overflow: hidden;
  padding: 5px;
}

.Over {
  background-image: url("../images2/walvis.png");
}

.Over:has(> .footer-text) {
  background-size: cover;
}

.Geschiedenis {
  background-image: url("../images2/panda.png");
}

.Geschiedenis:has(> .footer-text) {
  background-size: cover;
}

.Projecten {
  background-image: url("../images2/mais-boer.png");
}

.Projecten:has(> .footer-text) {
  background-size: cover;
}

/******************/
/* resultaten en updates */
/*****************/
.ResultatenEnUpdates h2 {
  text-align: center;
}

.ResultatenEnUpdates {
  max-width: 95%;
  margin: 20px auto;
}

.Bonenatlas {
  text-align: left;
  padding: 20px;
  background-color: var(--wit);
  max-width: 100%;
  height: 244px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
  background-image: url("https://www.wwf.nl/globalassets/afbeeldingen/onze-focus/food/bonen-in-hand.jpg?format=webp&mode=crop&autorotate=true&upscale=False&height=490&width=800");
}

.Bonenatlas h2 {
  color: var(--wit);
  margin: 10px 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}

.Bonenatlas a {
  display: inline-block;
  text-decoration: underline;
  color: var(--wit);
  font-size: 9px;
  line-height: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.04px;
}

/**********************/
/* nederlandsVoedselsysteem */
/**********************/
.ContentContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0;
  margin-bottom: 20px;
  width: 100%;
}

.ContentContainer img {
  width: 50%;
  object-fit: cover;
  overflow: hidden;
  position: relative;
}

.nederlandsVoedselsysteem {
  background-color: var(--bijna-wit);
  overflow: hidden;
  padding: 15px 15px 35px;
  width: 50%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nederlandsVoedselsysteem h2 {
  color: var(--zwart);
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
  margin-bottom: 15px;

}

.nederlandsVoedselsysteem a {
  display: inline-block;
  text-decoration: underline;
  color: var(--donker-groen);
  font-size: 9px;
  line-height: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.04px;
}